.d-flex {display: flex;}
.d-none {display: none;}
.column {flex-direction: column;}
.jc-between {justify-content: space-between;}
.jc-around {justify-content: space-around;}
.jc-center {justify-content: center;}
.jc-end {justify-content: flex-end;}
.ac-center {align-content: center;}
.ai-center {align-items: center;}

.pxy-10px {padding: 10px;}
.mb-80px {margin-bottom: 80px;}
.mr-5px {margin-right: 5px;}

.w-920px {width: 920px;}
.w-350px {width: 350px;}
.w-100px {width: 100px;}

.h-500px {height: 500px;}
.h-100px {height: 100px;}
.h30 {height: 30%;}
.h70 {height: 70%;}

.border-0 {border: 0;}
.radius {border-radius: 50%;}

.bb-1px {border-bottom: 1px solid;}
.bc-blue {border-color: blue;}

.b-skyblue {background: skyblue;}
.b-DDE5F0 {background-color: #DDE5F0;}
.b-grey {background-color: grey;}

.c-red {color: red;}
.c-green {color: green;}
.c-blue {color: blue;}
.c-white {color: white;}

.t-center {text-align: center;}

.f-22px {font-size: 22px;}
.f-24px {font-size: 24px;}
.f-32px {font-size: 32px;}
.f-35px {font-size: 35px;}
.f-40px {font-size: 40px;}
.f-55px {font-size: 55px;}

.arial {font-family: arial;}

.pointer {cursor: pointer;}

.txt-shadow {text-shadow: 2px 2px 2px grey;}


.btn {border-style: inset; outline: 0;}
.btn:active {border-style: outset;}
.stopbtn {background-color: red;}
.startbtn {background-color: green;}


/*====================*/
* {color: black; text-decoration: none;}

.letterboard {
	width: 55%;
	height: 150px;
	background-color: white;
	box-shadow: 0px 5px 40px #CACACA;
}